[Unit]
Description=Anote LAN Clipboard Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/kodar/Anote
ExecStart=/usr/bin/python3 /home/kodar/Anote/server.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
